
p
{
	font-family: Arial, monospace;
}

#footer
{
	text-align: center;
	display: block;
	font-size: 15pt;
}
/*This id was used for internal link*/
#top 
{
	text-align: center;
	font-size: 32pt;
}
/*I called the class fine print because I put them as disclaimers*/
.fineprint
{
	font-size: 6pt;
	color: rgba(51, 51, 255, 0.6);
}

.image
{
	font-size: 8pt;
	font-family: Arial, monospace;
	color: rgba(51, 51, 255, 0.6);
}

#one
{
	font-size: 15pt;
}

#validator
{
	margin-left: 46%
}

.references
{
	font-size: 10pt;
}

.citations
{
	font-size: 8pt;
}

h1
{
	text-align: center;
}

#cpu
{
	border-style: solid;
	border-width: 3px;
	margin-left: 25%;
}
